[2019-12-06 23:26] hstove opened #1 "Build app-side UI for modal before authentication"
We need `@blockstack/connect` to have an API to show a modal before users leave the app and go into authentication.

[2019-12-06 23:28] hstove opened #2 "Allow `authenticate` API to send user directly to sign in"

[2019-12-06 23:41] #2 closed

[2019-12-11 02:36] hstove opened #3 "Integrate with extension protocol"
The current authentication code only works with the hosted version of the authenticator. Although the authenticator extension is already set up for handling auth, there is some code to be written in this library to handle it.

[2020-01-14 16:16] #3 closed

[2020-01-14 16:31] aulneau opened #6 "Implement post-connection view"
<img width="381" alt="Screen Shot 2020-01-14 at 10 30 38 AM" src="https://user-images.githubusercontent.com/11803153/72362513-ef9abf80-36b8-11ea-8d9a-88475111e774.png">

Currently once auth has been completed, the finished method isn't doing anything. It would be good to implement a real auth flow in the test app, so we'll fetch user data etc.

[2020-01-14 17:00] aulneau opened #7 "Initial implementation in a vanilla html/js app"
We need to explore options for including this react component into non-react apps, eg angular, vue, webflow.

[2020-01-17 16:59] aulneau opened #8 "Handle when user ends auth before finished"
When the popup is open, and the user does not complete auth, we aren't handling that in connect. We should do something like:
- fire finished() when the component unmounts, and send something to help connect know it was incomplete
- implement a new method for something like onCancel

[2020-01-17 17:17] #6 closed

[2020-01-17 17:17] #1 closed

[2020-01-22 12:34] markmhx opened #10 "Don't show button spinner when user chooses to sign in from intro modal"
@jasperjansz should confirm this request, but I believe that we shouldn't show the intro modal's loading spinner when the user chooses "Sign in to Data Vault" here:

<img width="978" alt="Screen Shot 2020-01-22 at 13 31 57" src="https://user-images.githubusercontent.com/28991/72894525-c82c9e00-3d1b-11ea-8e02-6d9e5136b144.png">

[2020-01-22 12:37] markmhx opened #11 "Center Pop-Up™️ over intro modal, remove spinner from button and refocus popup upon further usage"
Currently when the user selects "Create Data Vault" from the intro modal, that modal shows a spinner and displays constantly in the parent window while the user uses the popup to complete signup.

It seems there's a better way to handle this interaction so it doesn't appear to the user that the parent window is processing something forever. @jasperjansz thoughts?

<img width="950" alt="Screen Shot

[2020-01-22 12:39] markmhx opened #12 "Fix window scroll when viewing modal"
It appears that when we have scrollable content within a modal, the user may inadvertently scroll the parent window such as here with the "How it works" content.

I'm seeing this behavior, for example, in Chrome on desktop if I accidentally scroll outside of the modal then inside again. The outside keeps scrolling even though my cursor is inside.

Should we simply prevent scrolling of the window i

[2020-01-22 12:48] markmhx opened #13 "Vertically center align all creation states"
Right now the first state is aligned towards the top before the subsequent ones align more centrally, though even those don't seem completely centered with all the content:

<img width="518" alt="Screen Shot 2020-01-22 at 13 40 54" src="https://user-images.githubusercontent.com/28991/72895078-f2cb2680-3d1c-11ea-9610-0c1f21bb61fd.png">
<img width="524" alt="Screen Shot 2020-01-22 at 13 40 56" src="

[2020-01-22 12:50] markmhx opened #14 "Remove help option from connect screen"
<img width="456" alt="Screen Shot 2020-01-22 at 13 48 38" src="https://user-images.githubusercontent.com/28991/72895584-fad79600-3d1d-11ea-897b-86f1e5fca441.png">

[2020-01-22 12:52] markmhx opened #15 "Fix formatting and behavior of connection confirmation modal"
We show the below modal in the parent window once the user "connects" the app with their Secret Key, but the formatting is off and the parent window page gets refreshed, clearing it out of view entirely.

If we need to refresh the page, can we show this modal post-refresh? Ideally we wouldn't have to refresh the page at all though.

Note also in Wink that we actually want to send the user to anoth

[2020-01-27 13:30] kyranjamie opened #17 "Updates to modal"
Tab indexes aren't managed properly. This is an accessibility issue.

One possible solution:

Recently noticed [`<dialog>` exists as a HTML element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog).

[It requires a polyfill](https://github.com/GoogleChrome/dialog-polyfill), but wonder if it's worth using to follow along with the HTML spec.

#### thomas edit:
additionally, we shoul

[2020-01-28 12:47] #14 closed

[2020-01-28 16:08] markmhx opened #22 "Complete initial draft of README"
Needs guidance on all available methods with parameters and default values

[2020-01-28 16:10] markmhx opened #23 "Convert tracking into proxy"
Apply Segment's proxy if possible

We want for Google Analytics and Mixpanel

https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/#proxy

[2020-01-28 16:17] markmhx opened #24 "Create simple sample app for developers to try"

[2020-01-29 15:15] #11 closed

[2020-01-29 15:59] #13 closed

[2020-01-29 19:07] #7 closed

[2020-02-10 10:01] #15 closed

[2020-02-10 10:04] markmhx opened #32 "Remove display of confirmation modal"

[2020-02-10 10:12] markmhx opened #33 "Update brand, copy and generation animation"
Focused around Secret Key with Blockstack mentioned in "How it works"

[2020-02-12 12:57] jasperjansz commented on #33
- [ ] 1.2 Intro modal: Remove the third feature (so it fits on small androids) and update the copy
- [ ] 1.7 Loading screens: Update copy and images and reduce to 3 instead of 4 screens
- [ ] 1.3 How it works: update copy
- [ ] 1.4 Enter SK: Update to reference app instead of our brand
- [ ] 1.11 Connect: Update copy
- [ ] 1.12 All set!: Update copy
- [ ] Page headers: update copy to say Secret Ke

[2020-02-13 12:40] markmhx opened #37 "Remove Connect screen"
![Screen Shot 2020-02-13 at 13.39.26.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/bca158e4-6f56-46d9-8f35-0e181775483b)

[2020-02-13 12:46] markmhx opened #38 "Uppercase "Secret Key" during creation"
![Screen Shot 2020-02-13 at 13.44.58.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/ee8e057d-c75f-4ab4-96c5-7aa758ad965c)

[2020-02-13 12:51] markmhx opened #39 "Pass UTM parameters to Blockstack app"
If the app has UTM parameters in its URL, it should propagate them to the URL that gets loaded in the Blockstack app during popup.

[2020-02-13 17:41] markmhx opened #40 "Integrate into Wink"
https://webflow.com/design/wink-8b169a-c307653b1499dcaf9f6bdb529ca

- "Try Wink" on home should trigger Connect intro modal
- "Sign in" on home navigation should pop up "Sign in" modal
- Onboarding authentication should redirect to /email
- /sign-in page load should automatically redirect to Blockstack app's sign in flow with UTM parameters

[2020-02-14 10:56] markmhx commented on #38
Looks good

[2020-02-14 10:56] #38 closed

[2020-02-14 11:25] markmhx commented on #39
This is working on Banter.

[2020-02-14 11:25] #39 closed

[2020-02-14 11:38] markmhx commented on #33
These changes all look good on Banter.

[2020-02-14 11:38] #33 closed

[2020-02-14 12:42] jasperjansz opened #45 "[Style fixes] Intro modal"
![image.png](https://images.zenhubusercontent.com/5c7593d7f4e4f4273dcf4b86/f4dfcfaf-2687-4d24-88d2-fbc076708dd8)

- [x] 1. Remove Secret Key logo: fixed in https://github.com/blockstack/connect/pull/49
- [ ] 2. ~~Update header font:~~ tracked here -> https://github.com/blockstack/ui/issues/34
- [x] 2.a. It should also be 20px instead of 24px (Header small): fixed in https://github.com/blockstack/c

[2020-02-14 14:53] markmhx commented on #40
I tried integrating into Wink via Webflow but couldn't find the method necessary to show the introductory overlay modal, nor could I figure out how to host manifest.json files with Webflow.

[2020-02-14 15:15] markmhx opened #46 "Add error handling for subdomain registrar failures"
Per https://github.com/blockstack/app/issues/97#issuecomment-585250016

[2020-02-14 15:18] markmhx commented on #32
![Screen Shot 2020-02-14 at 16.18.45.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/57d24b21-fa70-4f75-959d-e328f2a82531)

[2020-02-14 15:20] markmhx opened #47 "Preload images for Secret Key generation animation"
So that they don't flicker while loading at each step during the animation, smoothening out the experience.

![Screen Shot 2020-02-14 at 16.20.25.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/2f1a3e01-40ce-4cc3-b73b-21c8bd41bba2)

[2020-02-14 15:21] #47 closed

[2020-02-14 23:14] #45 closed

[2020-02-16 14:08] markmhx commented on #40
I'm closing this out since it appears that the integration is mostly done. However, we still need to automatically redirect /sign-in visitors to the Blockstack App's sign in flow, so I've created a separate issue for that here: https://github.com/blockstack/app/issues/148

[2020-02-16 14:08] #40 closed

[2020-02-17 10:12] markmhx opened #50 "Fix host page reflow upon display of intro modal"
![Kapture 2020-02-17 at 11 12 40](https://user-images.githubusercontent.com/28991/74644490-a259b400-5176-11ea-9614-5c2139f851f6.gif)

[2020-02-17 10:15] markmhx opened #51 "Close modal when clicking outside of it or hitting escape key"
![Screen Shot 2020-02-17 at 11.13.48.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/84290d59-35fa-4933-8dcf-d3030bd1ba4e)

[2020-02-17 11:18] #24 closed

[2020-02-17 11:19] markmhx commented on #32
@hstove this is done already correct?

[2020-02-17 17:41] hstove commented on #32
Not by me - we removed the final "re-enter secret key" screen from the app, but this is still there.

[2020-02-17 21:24] #12 closed

[2020-02-17 21:24] #10 closed

[2020-02-18 10:09] #32 closed

[2020-02-18 10:09] #22 closed

[2020-02-18 10:09] jasperjansz commented on #46
We can have a generic message for now: https://www.figma.com/file/aXnNi8MOmN3CDrVwaDXXuqX3/Product?node-id=6847%3A964

In next releases we can have a more specific message depending on the type of error, or automatically try registering it again without user action

[2020-02-18 13:04] kyranjamie commented on #50
It looks like opening the modal injects some global css. See `<html>` element computed properties before and after opening modal:

**Before**
![image.png](https://images.zenhubusercontent.com/5d765e279cf7af0001b78a5e/6453ac0c-2ce4-4f20-918f-5fa6c6bf4830)

**After**
![image.png](https://images.zenhubusercontent.com/5d765e279cf7af0001b78a5e/1d252f43-b1a2-49ea-93d3-62100574462b)

I think this is part

[2020-02-18 19:22] hstove opened #58 "Setup default option for `redirectTo`"
@markmhx commented on [Mon Feb 17 2020](https://github.com/blockstack/app/issues/157)

I encountered this only once and wasn't able to create.

When signing in with my existing Blockstack ID (markmhendrickson.id) for the first time with https://www2.winkdating.app/, the popup closed and redirected the parent window to the following broken URL:

![Screen Shot 2020-02-17 at 11.45.06.png](https://ima

[2020-02-18 20:00] hstove commented on #46
Closing, duplicate of https://github.com/blockstack/app/issues/192

[2020-02-18 20:00] #46 closed

[2020-02-18 23:50] #58 closed

[2020-02-19 15:59] markmhx opened #61 "Add design integration guidance to README"
- "Try App" button
- "Sign in" option

[2020-02-19 18:36] #61 closed

[2020-02-20 00:11] whoabuddy commented on #8
I believe I got caught in this state by mistake and it made for some interesting results.

The full review is [here in the forum](https://forum.blockstack.org/t/try-out-the-new-streamlined-authenticator-with-blockstack-connect-beta/10382/15) with the more relevant parts below.

1. I started to create an account from the "How it works" page, and it never asked me to create an ID (xyz.id.blockstack)

[2020-02-20 00:13] whoabuddy commented on #51
FYI clicking outside the modal works for me in Vivaldi 2.11.1811.38 (Stable channel) (64-bit) on Linux Mint. Hitting `esc` does not.

However, in doing so the button still displays `Loading...`, and clicking on it still pulls up the modal as expected.

![2 2020-02-19 14 19 30 banter pub 6928fccf8a46](https://user-images.githubusercontent.com/9038904/74888408-16dd5000-533b-11ea-9adb-7685f0c2735e.pn

[2020-02-20 04:29] njordhov opened #66 "Trim whitespace around pass key"
In account recovery, whitespace after the 12 word key renders it invalid. Consider to trim whitespace around the key and ignore extra whitespace in between each word.

[2020-02-20 10:02] markmhx opened #68 "Allow developers to pass a parameter to sign in that displays special guidance for existing users in the app"
![image.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/ea6fbef5-4e3b-4ccc-90a1-f3707322d66a)

[2020-02-20 15:40] markmhx opened #69 "Audit accessibility"

[2020-02-20 17:52] hstove commented on #8
Hey @whoabuddy, thanks for the comments.

You don't see a new secret key, because all of these IDs are "tied" to a single Secret Key. You don't have different Secret Keys for different usernames.

In terms of losing your secret key - your secret key is still stored locally, so we could build a feature where you can recover your secret key, probably from something like the homepage. We don't have a

[2020-02-20 17:52] #66 closed

[2020-02-21 12:08] markmhx commented on #51
@whoabuddy Thanks for the Banter report. @hstove can we have Banter show "Get started" again if the user bails from onboarding before completion (from modal display onwards)?

[2020-02-21 12:14] markmhx commented on #8
Thanks from me as well @whoabuddy.

Is it possible you closed out the popup after first opening it and before getting to the username prompt? That seems like the most likely scenario here in having your Secret Key generated – and your session subsequently started – without ever seeing the username prompt.

We don't currently handle the case well when a user starts onboarding but doesn't get to the

[2020-02-23 05:44] whoabuddy commented on #8
@hstove Thank you for the quick reply, that makes more sense now, thank you!

@markmhx Yes, that is definitely possible and likely what happened. I was doing a quick demo while in the middle of typing my notes on the other sections, so I didn't intend to fully sign up, just to show off the basics of the interface. Thank you!

[2020-02-24 04:58] njordhov opened #74 "Make React a Peer Dependency"
**When rendering the `Connect` component, React fails, reporting _"You might have more than one copy of React in the same app"_.**

The React documentation discusses this error, suggesting a potential cause to be [more than one copy of React in the same app](https://reactjs.org/warnings/invalid-hook-call-warning.html#mismatching-versions-of-react-and-react-dom). It advises:

This library's [packag

[2020-02-24 08:58] njordhov opened #75 "Don't Depend on Pop-Up Windows"
Pop-up windows are a pain, so no wonder many Firefox users don't allow them, including me. So it is unfortunate that Connect assumes pop-up windows are enabled. Consider making Connect work without pop-up windows.

![image](https://user-images.githubusercontent.com/219448/75138880-2395d700-56a0-11ea-9392-e3488cd1dbb7.png)

[2020-02-24 09:35] kyranjamie commented on #75
Thanks for all the feedback @njordhov

This was in part a security consideration. If we used embedded iframes, we'd increase the likelihood of phishing attacks. With a popup, users can at least verify they're interacting with `auth.blockstack.org`.

By default, a lot of browsers block `window.open` _unless_ it's triggered by a click event, which in this case it is. Of course, more strict browser s

[2020-02-24 12:54] markmhx commented on #75
Is there way to popup by default but fall back to loading in the same window if the user has popups disabled in their browser?

[2020-02-24 18:16] njordhov commented on #74
Addressed in PR #76

[2020-02-25 11:56] markmhx opened #78 "Add parameter for passing brand color to Blockstack App for styles customization"
To work in conjunction with https://github.com/blockstack/app/issues/229

[2020-02-25 11:58] markmhx opened #79 "Vertically center close icon in introduction modal"
![Screen Shot 2020-02-25 at 11.04.23.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/c4b78469-76d9-4c96-be3a-0da611b79496)

[2020-02-25 15:33] #51 closed

[2020-02-25 15:34] #50 closed

[2020-02-26 17:14] jasperjansz commented on #68
https://www.figma.com/file/aXnNi8MOmN3CDrVwaDXXuqX3/Product?node-id=7269%3A267

![image.png](https://images.zenhubusercontent.com/5c7593d7f4e4f4273dcf4b86/1fd96b33-365d-4859-a3ad-758f31dc8d1d)

I think this is the only screen we'd have to modify in case they pass that param. We only have to account for existing users who do not have a session (pretty small minority). Those who do have a session wi

[2020-02-26 17:37] jasperjansz opened #80 "There's a square around the close icon on the intro modal"
![image.png](https://images.zenhubusercontent.com/5c7593d7f4e4f4273dcf4b86/f3dbf910-e50c-4404-a9b1-031713b46429)

[2020-02-26 20:59] friedger opened #81 "Use framework agnostic UI"
Something like https://stenciljs.com/ so that the library can be used also for vue apps and the like

[2020-02-27 10:12] markmhx commented on #81
We definitely want to ensure that Connect works with Vue apps and other frameworks, though it was my assumption we had already integrated React in a way that allowed that.

Are you encountering problems while integrating with Vue?

[2020-02-27 10:15] markmhx commented on #68
@sdsantos how does this design approach look to you?

[2020-02-27 10:27] markmhx commented on #81
Nevermind, I'm seeing the latest Discord conversation now that confirms this is a problem. @hstove is the problem specifically that the host app needs React installed or that Connect doesn't tolerate other frameworks or both?

[2020-02-28 01:55] muneebm opened #82 "Add option to use custom Gaia hub URL"
I agree that it's confusing for a new user to see the [Gaia hub selection screens](https://forum.blockstack.org/t/user-choice-of-gaia-hub-now-available-during-onboarding/7026) during onboarding, but can we add an auth option for the app to pass in a custom Gaia hub URL. This gives app developers the flexibility to use app specific Gaia hubs without confusing the user much.

Add `customGaiaHubUrl`

[2020-02-28 10:53] markmhx commented on #82
@hstove how well are we currently set up with the Blockstack App to support something like this ahead of general release?

[2020-02-28 12:47] markmhx opened #83 "Fix link text size in "How it works""
![Screen Shot 2020-02-27 at 12.10.56.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/09bb0da7-4db6-4b10-ba72-4d8d8cf52fda)

[2020-02-28 13:03] markmhx opened #84 "Remove close option from "How it Works""
So users aren't confused between that option and the "go back" chevron to the left.

![Screen Shot 2020-02-28 at 14.03.18.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/d0362583-88ca-4ed3-97e7-e3f38068b7e0)

[2020-02-28 17:04] hstove commented on #82
It will require some work - not impossible, but not easy.

Although, I'm **very strongly** inclined to suggest we do this as a migration tool, **not** during onboarding. That gives us the best of both worlds - it doesn't confuse onboarding, and it's an actually viable process for existing users, who stand to benefit more from a custom Gaia hub.

[2020-03-02 06:54] hstove commented on #74
@aulneau and @kyranjamie , what do you think about `[@rollup/plugin-alias](https://github.com/rollup/plugins/tree/master/packages/alias)` to replace React for Preact in production?

I think this would make sense for non-React apps, but I'm not sure what type of side effects it might have on React apps.

[2020-03-02 10:25] kyranjamie commented on #74
I'm not particularly familiar with Preact. Why not just use Preact in development as well? Looking quickly at the docs, we'd need to use `preact/compat` to use it 1:1 with React.

[2020-03-02 11:35] sdsantos commented on #68
That's better yes, at least the terms are similar to what they've read before. I would argue on the "pretty small minority". For multi-platforms apps it's common to be logged in into one platform (Android phone) and not on the other (Web).

As long as already logged in users are able to see their IDs and pick one of them to continue, all good. We would consider migrating our auth to Connect.

[2020-03-02 12:10] markmhx commented on #68
To be clear, if users are already logged into your app on a given device, they won't have to go through the signin flow here at all. The session with blockstack.js established before migration should be retained after migration.

Only users who would have been signed out on a given device regardless of the migration will need to go through this new sign in flow.

This means that this modal to "see

[2020-03-02 12:48] markmhx commented on #82
@muneebm is the need to set a custom Gaia hub URL an upgrade blocker for xordrive?

[2020-03-02 14:00] kyranjamie commented on #75
@njordhov Can you let us know the steps to reproduce the popup block in Firefox? I've done some testing, with block popup option enabled, and it does not get blocked.

As @markmhx suggested, we can detect if a popup is blocked, though, and instead redirect the page to `auth.blockstack.org` like the current browser. Something like:

[code]

We need to make some changes to the styles to centre the "

[2020-03-02 15:20] hstove commented on #81
It's not a problem with not tolerating other frameworks (although there does seem to be a bug around needing to install `@blockstack/ui`, which is not related to React).

My understanding about the request here is that it would be good to not use React, to reduce the bundle size.

The problem with using any other framework is that our UI library is written for React. So, in order to use our UI in

[2020-03-02 17:26] hstove commented on #74
Using React in development gives us better error handling, and similar benefits.

You're right about needing `compat` - here is how its setup with webpack: https://github.com/blockstack/ux/blob/ci/semantic-release-workflow/packages/app/webpack.config.js#L58:L58

However, since `tsdx` uses Rollup, that's why I was thinking we'd need a similar Rollup config to alias React/Preact.

[2020-03-03 04:16] muneebm commented on #82
@markmhx I am still using PBC hub for xordrive, but is planning to run my own hub for next update, before Stack 2.0 release.
I'd say, if it doesn't delay your plans for general release, it'd be helpful for a lot of developers, now that a lot of discussions are happening  around business models and monetization.
Also, I don't think we need to make any changes to the onboarding screens, just providi

[2020-03-03 12:45] markmhx commented on #82
Thanks for the info; that's good to know you aren't currently relying on a custom hub so this wouldn't be a breaking release per se.

I'd recommend that we try to prioritize this work soon but not treat it as a blocker for general release. My understanding is that you're correct this wouldn't entail any user-facing UI changes, but it would require some extra under-the-hood work to ensure the custo

[2020-03-05 12:15] markmhx commented on #17
@aulneau do you want to take over here now that @kyranjamie is OOO?

[2020-03-05 15:21] aulneau commented on #17
@markmhx yes

[2020-03-06 15:14] timstackblock commented on #80
This still looks exactly the same as the picture above.

[2020-03-06 15:15] timstackblock commented on #79
No changes as of yet here

[2020-03-06 15:17] #79 closed

[2020-03-10 12:09] #83 closed

[2020-03-10 22:47] #23 closed

[2020-03-10 23:25] #84 closed

[2021-02-09 12:17] sdsantos opened #101 "Add support for authenticator choice"
The new alpha release of this library does not support mobile authentication. It always leads users to install the Stacks Wallet browser extension, which is only possible for users using desktop Chrome and Firefox. This locks out a huge part of the audience, using mobile devices, or other browsers.

Here are some alternative proposals:

1) We are developing an authenticator for Android ([Circles](

[2021-03-26 04:05] #78 closed

[2021-03-26 04:05] #8 closed

[2021-03-26 04:05] #69 closed

[2021-03-26 04:05] #68 closed

[2021-03-26 04:05] #81 closed

[2021-03-26 04:05] #74 closed

[2021-03-26 04:05] #75 closed

[2021-03-26 04:05] #80 closed

[2021-03-26 04:05] #17 closed

[2021-04-01 13:38] markmhx opened #95 "Display guidance for visitors viewing introductory modal with unsupported browser"
Any user who views the introductory modal from any browser apart from Chrome or Firefox for desktop should see messaging that requests they change to one of those browsers for continuing by installing the extension there.

Currently we show the same content for all browsers, which leads to a dead-end for visitors with browsers that aren't supported.

## Current screen

![image](https://user-images

[2021-04-01 13:38] markmhx commented on #95
@jasperjansz It doesn't appear we have a screen for this case in Figma. Can you produce one, perhaps working with @eugeniadigon here to incorporate a custom illustration as helpful?

[2021-04-01 13:48] markmhx opened #96 "Send user to Chrome Web Store to install extension instead of Hiro.so"
Once the extension is approved by the Chrome Store, we should send the user to the extension listing there for installation instead of our Hiro.so installation page upon selecting "Install Stacks Wallet".

![image](https://user-images.githubusercontent.com/28991/113303619-8cb73780-9301-11eb-8c34-65d5b8e6990b.png)

[2021-04-01 13:52] markmhx opened #97 "Send user to Firefox Add-ons to install extension instead of Hiro.so"
Once the extension is approved by Firefox Add-ons, we should send the user to the extension listing there for installation instead of our Hiro.so installation page upon selecting "Install Stacks Wallet".

![image](https://user-images.githubusercontent.com/28991/113304194-136c1480-9302-11eb-9286-d65d22093785.png)

[2021-04-01 13:54] markmhx opened #98 "Detect extension installation automatically and prompt for authentication"
Instead of requiring a manual refresh of the app upon installing the extension, we should automatically detect installation and prompt the user to proceed with authentication, either in the introductory modal or by opening the extension automatically as possible.

## Current screen

![image](https://user-images.githubusercontent.com/28991/113304611-7e1d5000-9302-11eb-8d6d-d86f5af372a9.png)

[2021-04-01 13:55] markmhx commented on #98
@aulneau @hstove do you know if automatic detection and opening of the extension here is possible upon return to the app's window? Or would @jasperjansz have to design some sort of updated state here where the user manually clicks to proceed to authentication with the newly installed extension?

[2021-04-09 23:26] agraebe opened #99 "Sponsored tx support"

[2021-04-19 20:32] whoabuddy opened #120 "Unable to close modal if wallet not installed"
Right now I'm using version `2.0.3.918` in Brave from the [Hiro download page](https://www.hiro.so/wallet/install-web), but I have it set to only activate once I click on the extension. I noticed that when I do not have the extension enabled, which should be the same as not having it installed, I get presented with this screen:

![Screenshot from 2021-04-19 13-21-45](https://user-images.githubuser

[2021-05-06 15:15] jgdv73 opened #106 "UserData in authResponse in connect@4.3.15"
When requesting from localhost, I didn't receive the UserSession/UserData correctly in the authResponse.
An update to connect@4.3.18 helped me to resolve the issue. It would be great if you could document the fix in the changelog.md.

[2021-05-07 09:25] markmhx commented on #106
Thanks for pointing this out. It appears we could do a lot better with [our release management and details](https://github.com/blockstack/connect/releases):

![image](https://user-images.githubusercontent.com/28991/117428863-bd087c00-af26-11eb-99fe-00b73a2b0e17.png)

@andresgalante want to lead an effort to improve how we do so across repos that UserX owns?

[2021-05-07 09:28] markmhx opened #107 "Update npm with latest release version"
Currently [the latest version on GitHub is v5.0.5](https://github.com/blockstack/connect/releases):

![image](https://user-images.githubusercontent.com/28991/117429320-3acc8780-af27-11eb-8a3c-2d46f8541e61.png)

But [npm is showing and installing v4.3.18](https://www.npmjs.com/package/@stacks/connect):

![image](https://user-images.githubusercontent.com/28991/117429350-4455ef80-af27-11eb-8292-5fb5c

[2021-05-10 11:51] markmhx commented on #96
This is ready for integration: https://chrome.google.com/webstore/detail/stacks-wallet/ldinpeekobnhjjdofggfgjlcehhmanlj

[2021-05-12 13:32] #99 closed

[2021-05-12 17:04] hstove commented on #107
I think we can close this. `@stacks/connect` [latest version](https://www.npmjs.com/package/@stacks/connect) is 5.1.0

[2021-05-12 17:29] #107 closed

[2021-05-12 20:38] #96 closed

[2021-05-13 10:19] markmhx commented on #82
@HariniRajan397 @wilsonbright You'll need to tackle this issue for Connect in addition to [the related one for the Stacks Wallet](https://github.com/blockstack/stacks-wallet-web/issues/1145) (or legacy Blockstack Connect, should you go that route) to accomplish Gaia hub URL passing during authentication.

[2021-05-13 10:48] jasperjansz commented on #101
Here's the first draft of the flow: https://www.figma.com/file/ksq6tnGDWcm6icDNShdENt/Connect?node-id=11%3A2447. Would this work for you guys — or do you have another approach in mind?

[2021-05-13 15:42] yknl commented on #101
Thanks for putting this together, I left some comments on the Figma file.

Maybe I'm misinterpreting the purpose of this Figma flow. I was more looking for a diagram that outlines what happens behind the scenes with wallet connect.

For example:
- How information will be passed from the app to the wallet
- How does app connect remember that the user prefers mobile wallet vs browser extension
- Whi

[2021-05-14 17:36] MarvinJanssen opened #118 "defineCustomElements undefined in showConnect"
I am using the latest Connect and pack it with Sapper + Webpack.

When I disable the Web Extension or use a browser that does not have it installed, `showConnect()` crashes, saying `defineCustomElements` is undefined.

<img width="448" alt="image" src="https://user-images.githubusercontent.com/5727806/118307729-f0578780-b49f-11eb-8ab3-606d68dbb175.png">

`showConnect()` works fine for users that h

[2021-05-14 18:36] aulneau commented on #120
@fbwoolf this would be a good issue to work on after your `onCancel` work

[2021-05-14 20:18] #118 closed

[2021-05-18 10:11] markmhx commented on #97
This can now be integrated with the following URL: https://addons.mozilla.org/en-US/firefox/addon/stacks-wallet/

[2021-05-18 20:42] pgray-hiro opened #123 "Todos app tutorial won't launch connect window"
If you pull down the https://www.github.com/blockstack/todos repository, once you get the application building, the `Get Started` button does not launch the connect window.  The app does not crash and there are no errors in the console.  I troubleshooted this with @aulneau in person, but we were unable to solve on the Zoom.  Recording this issue for tracking.

[2021-05-18 20:43] pgray-hiro commented on #123
cc @markmhx @andresgalante

[2021-05-19 07:41] markmhx commented on #123
I spoke with @andresgalante about this and we were thinking that @fbwoolf may be able to take this on immediately after her current set of priorities, especially since she has some initial exposure to Connect already given other changes.

I'm assigning to her and placing in the UserX backlog with that in mind.

[2021-05-24 14:38] fbwoolf commented on #123
@pgray-hiro I can't seem to repro this anymore, can you? It may have been an issue with just needing to update the chrome web wallet? I think I was having the same issue with the bns app too at one point, but the bug was resolved with reinstalling the extension. What version are you using?

[2021-05-24 14:39] aulneau commented on #123
I think this was related to the positioning bug that existed in the extension and has been fixed. @pgray-hiro please try again and if it works, feel free to close this issue.

[2021-05-24 16:26] #97 closed

[2021-05-24 16:29] #120 closed

[2021-05-24 16:55] aulneau opened #127 "profile_url should be returned with authResponse"
The payload that is returned by the extension[ includes `authResponse`](https://github.com/blockstack/connect/blob/main/packages/connect/src/types/auth.ts#L3) which is a jwt that contains the profile_url for the root account, which needs to be used by various apps, but we don't currently expose it anywhere.

We should parse the authResponse token and maybe provide the parsed token in addition to t

[2021-05-24 18:04] pgray-hiro commented on #123
Yes, this is fixed for me with the latest version of the Web Wallet.  Closing the issue.

[2021-05-24 18:04] #123 closed

[2021-05-25 06:46] markmhx commented on #127
I believe you mentioned this was needed by @MarvinJanssen for the launch of .BTC, correct?

[2021-05-25 12:55] fbwoolf commented on #127
Ok, so I should start this one today?

[2021-05-25 14:48] MarvinJanssen commented on #127
@markmhx Currently .BTC does not add such a the profile.json to the zonefile as I was unsure how the profile.json was managed, and by which app. (The Extension I assume.) Also, the app was being built before Atlas was activated. I don't think it would be a lot of effort to add the profile.json link.

[2021-05-26 23:06] MarvinJanssen commented on #127
Can some/most of this information not be added to what is returned from `session.loadUserData()`? It is what I have been using to get the profile. The only thing it does not contain is `profile_url`. Also, it looks like `session.getAuthResponseToken()` returns `""` even though it is present in local storage. `session.loadUserData().authResponseToken` is populated like you would expect.

[2021-05-26 23:11] aulneau commented on #127
It can, but that's a different library entirely -- not directly in scope with connect or the extension. This imo was a good first step for exposing the parsed authResponse, and thus the profile_url for the account.

[2021-05-27 00:09] MarvinJanssen commented on #127
Ah right! On point.

[2021-06-01 15:22] models-72 commented on #101
Just had a meeting with Mark about the stacks authenticator.  I am interested in learning about the specification that will be produced by Ken and would like to attend any meetings where we discuss this in the future.  If I could understand the specification well enough I would like to try to build an authenticator from scratch in a non-javascript language.

[2021-06-02 07:09] markmhx commented on #101
Some context that wasn't captured here earlier:

@yknl is going to help out by producing the technical diagram that [he inquired about previously](https://github.com/blockstack/connect/issues/101#issuecomment-840647887). Once he has that ready, we can all meet for another community hangout on Discord to review that diagram alongside the UI designs produced by @jasperjansz.

I'm hoping we can sched

[2021-06-05 06:24] friedger opened #136 "Cancel callback not called"
When I close the web extension popup window before sending a transaction the `onCancel` method is not called.

I am using Firefox, Stacks Wallet Web 2.10.0 and @stacks/connect 5.5.0 and connect-react 10.0.0

In the console I see
[code]

[2021-06-05 06:26] friedger commented on #136
typo in my code

[2021-06-05 06:26] #136 closed

[2021-06-08 14:30] fbwoolf opened #138 "Fix defineCustomElements"
This bug surfaced in the wallet test-app, so probably easiest to test there. Currently, on main, the `Sign up` button doesn't do anything bc we removed an import from connect that was causing a test failure. The PR linked to this issue should fix both.

- Test with the test-app in web wallet
- Make sure the wallet is uninstalled
- Click on `Sign up`
- Make sure the install modal launches w/out an

[2021-06-08 19:28] Eshwari007 commented on #138
@fbwoolf Can you kindly provide some input on the use cases which I can use for testing the ticket?This will be helpful for me to build the test cases as well.

[2021-06-08 20:46] fbwoolf commented on #138
Yep, I can add to the description, np. I put a few test steps on the PR itself but will copy them over.

[2021-06-08 21:02] Eshwari007 commented on #138
Thank you @fbwoolf

[2021-06-09 17:41] #127 closed

[2021-06-09 17:44] #138 closed

[2021-06-10 19:05] fbwoolf opened #143 "Handle if browser is not Chrome or FF in intro modal"
Need to handle the `null` and empty string in the text here...

![image](https://user-images.githubusercontent.com/6493321/121582583-c9d03200-c9f4-11eb-9602-17062bd02f8d.png)

[2021-06-10 20:07] fbwoolf commented on #95
@jasperjansz I realized when I did the intro modal redesign I didn't handle non-Chrome and FF browsers, so I created this issue: https://github.com/blockstack/connect/issues/143 ...then I saw this one, is there a design for it yet bc I'd like to fix it.

[2021-06-10 21:06] fbwoolf commented on #98
Right now, after install the full page tab opens for the wallet so a user can go thru auth, do we want to change that so it redirects back to the app and launches a popup to authenticate instead?

[2021-06-10 21:50] jasperjansz commented on #98
@fbwoolf related issue that can actually be implemented: https://github.com/blockstack/stacks-wallet-web/issues/1275

[2021-06-10 21:52] jasperjansz commented on #95
@fbwoolf I was actually hoping to handle this in the authentication choice (mobile, extension). But seeing as that's taking a while to build I will make a design that handles this on the extension side too.

[2021-06-10 21:55] jasperjansz opened #144 "Ability to direct users back to the app after installing and onboarding"
Installing an extension to use an app (and the whole onboarding thereafter) must be pretty confusing for people unfamiliar with the process. I can imagine users who onboard through an app being pretty confused after they've installed and are looking at the empty extension home screen ("ok, now what?"). They'd have to know they need to reopen the app and refresh.

It would be great if we could know

[2021-06-11 13:39] fbwoolf commented on #98
@jasperjansz great, thanks! I can assign myself to that one too and maybe it can close both.

[2021-06-11 16:42] jasperjansz opened #146 "Image for unsupported browsers"
When a user gets a prompt to install the extension from an app, but they're on an unsupported browser, we show them this message: https://www.figma.com/file/8CaxP6TRWskoTO9cmlvX9M/Wallet-%F0%9F%8C%90-web?node-id=2905%3A70241

Currently we show them the same visual as the default intro modal. Would be great to have a replacement at some point.

[2021-06-11 17:57] #143 closed

[2021-06-11 17:57] #95 closed

[2021-06-21 19:00] fbwoolf opened #149 "Reload the app after download/install"
Force the app to automatically reload so when the user goes back to the app tab the ext is detected. This will be a good first step to implement before redirecting the user back to the app tab with onboarding design changes. This work should capture the app url from the window location and make it available to the extension.

Related issues:
https://github.com/blockstack/connect/issues/98
https://

[2021-06-21 19:00] fbwoolf commented on #98
Implementing this issue first: https://github.com/blockstack/connect/issues/149

[2021-06-21 19:01] fbwoolf commented on #144
Related, implementing this first: https://github.com/blockstack/connect/issues/149

[2021-06-21 20:49] #149 closed

[2021-06-28 20:49] markmhx commented on #144
@jasperjansz to review our approach here

[2021-06-28 20:49] markmhx commented on #106
The team discussed simplifying our tooling to use just one release mechanism for enabling this.

[2021-07-01 18:01] agraebe opened #150 "Invalid Buffer provided in SmartBufferOptions"
I'm running the following method:

[code]

And I receive an error after confirming the transaction inside the web wallet:
[code]

- @stacks/connect: 6.0.0
- Stacks Web Wallet: 2.11.1

[2021-07-07 08:11] markmhx commented on #150
@agraebe want the UserX team to look into this or prefer to handle on the Splat side?

[2021-07-07 20:04] agraebe commented on #150
We would have only Tintash to look at this in the short term and there's no context on connect and the web wallet. I'd prefer the UserX team to take a look

[2021-07-07 20:08] aulneau commented on #150
This kind of error usually happens when a wrong type of value is passed to a clarity function

[2021-07-07 20:11] agraebe commented on #150
The method isn't taking any arguments (also left the args array empty in the code) 🤔

[2021-07-08 08:36] markmhx commented on #150
@agraebe Sounds good re: UserX taking it. Is this a blocker for docs / sample app work? Any particular urgency?

[2021-07-08 14:52] agraebe commented on #150
we decoupled the sample nft app from the docs updates, so the urgency is a bit lower. but, this issue should be triaged to really understand the urgency - it might prevent sponsored txs for many users (unless something is very particular about my usage).

If I'd have to call it without more info, I'd say medium prio

[2021-07-19 18:17] markmhx commented on #150
@aulneau I presume this one will take some investigation to diagnose?

[2021-07-20 12:48] friedger opened #151 "Serialization of uintCV fails"
When I make a contract call with a clarity value of uint that was created with `uintCV` from  `@stacks/transaction 2.0.0`, I get the following error:
[code]
When using `@stacks/transaction 2.0.0-beta.1`, the serialization is done successfully.

[2021-07-20 12:49] friedger commented on #151
maybe related to #150

[2021-07-22 10:25] markmhx commented on #98
@fbwoolf I believe you resolved this with #148 already, correct?

[2021-07-22 13:49] fbwoolf commented on #98
My work on this was never merged. It is still in draft status. We decided to include it with the future onboarding refactor.

[2021-07-23 12:54] markmhx commented on #151
From @friedger [in Discord](https://discord.com/channels/621759717756370964/745197302255321108/867667894162292746):

[2021-07-26 10:30] ahsan-javaid commented on #151
@markmhx Created the PR to upgrade the stacks transaction version in connect package.
PR link: https://github.com/blockstack/connect/pull/152
I don't have permissions to assign the reviewers on this PR. It will be great if you can assign a reviewer on this PR.

[2021-07-26 10:36] markmhx commented on #144
@jasperjansz can you update this issue with the latest relevant design guidance and move to the bottom of the backlog?

[2021-08-02 15:07] markmhx commented on #150
@agraebe mind providing the Clarity code you're trying to use here so we can cross-check?

[2021-08-02 15:16] agraebe commented on #150
sure, here it is: https://explorer.stacks.co/txid/0x7246cfb663ddd90041781919961a131938d34345879d708ed7d855039c70b84d?chain=mainnet

[2021-08-03 10:10] hecool108 commented on #150
@agraebe Hey dude, I found it is something wrong with one of the @stacks/connect package's dependencies. smart-buffer.
If you take a look at stacks.js source code in file bufferReader.ts. line 54
[code]
This new SmartBuffer({ buff: options }); is the source of error.
Inside smart-buffer package: smartbuffer.ts, line 54
[code]
This means if the buff is not an instance of Buffer, the error occurred.

[2021-08-03 11:07] SyAsteria commented on #150
Have submitted a PR that fixes the issue @hecool108 found. Awaiting release.

[2021-08-04 01:40] hecool108 commented on #150
Thanks, @SyAsteria, so that means I need to wait for @stacks/connect to use @syvita/smart-buffer instead of smart-buffer, and release a new version, right?

[2021-08-04 02:29] aulneau commented on #150
you can use yarn resolutions to force your application to resolve to a specific version, so you could do something like this in your package.json

[code]

[2021-08-04 03:00] hecool108 commented on #150
@aulneau Thanks!

[2021-08-04 09:38] SyAsteria commented on #150
if i get time, i'll put in a PR that changes this. currently we're using forks of both connect & stacks.js to (@syvita/connect & @syvita/transactions respectively) which have fixes. repos are open source so all y'all have to do is copy the commits from the forks to the 1st party ones :)

[2021-08-06 14:10] beguene commented on #150
I don’t think this particular issue was caused by the smart-buffer because I was able to successfully execute the contract the same way using the code provided.
The same contract deployed here (with the same trait implementation but on testnet)
https://explorer.stacks.co/txid/0x8383bc382c32873e025bd50a25eb0bed9d212c80fad9334c1abf34a5f4981ad2?chain=testnet
We can still add the buffer check fix of @

[2021-08-07 06:22] JoshGlazebrook commented on #150
I went ahead and merged your change into smart-buffer and published as 4.2.0.

[2021-08-11 13:57] fbwoolf opened #154 "Update to Hiro Wallet branding"
Replace all instances of `Stacks Wallet` with `Hiro wallet`.

[2021-08-11 18:30] #154 closed

[2021-08-16 10:55] yknl commented on #101
As @markmhx mentioned, Secret Key Labs is working on a proof-of-concept for mobile transaction signing support using wallet connect 2.0 and Xverse wallet. We'll publish the details relatively soon.

[2021-08-16 15:44] fbwoolf commented on #151
@friedger can you test this is fixed with the linked PR? https://github.com/blockstack/connect/pull/157

I updated stacks.js packages and need to confirm things are working as expected. I will test on my end with the test-app.

[2021-08-16 20:33] Eshwari007 commented on #151
@fbwoolf Can you kindly share the test steps for the issue above?
Thanks

[2021-08-16 21:30] fbwoolf commented on #151
I think this is one that can stay assigned to me through QA. It will be hard to test locally. Basically, we just have to make sure connect modals work as expected and nothing is broken after updating the packages.

[2021-08-17 15:27] fbwoolf commented on #151
I did not find any issues when testing with the test-app so moving to QA done. Will wait for feedback from @friedger before merging.

[2021-08-20 13:42] grahamulator opened #160 "Unable to connect to Mocknet - defaults to Testnet"
When attempting to make contract calls to a local Mocknet, the Web Wallet popup attempts to connect to the public Testnet instead. An issue was created here with more details [here](https://github.com/blockstack/stacks-wallet-web/issues/1590), but this appears to be an issue with an underlying package and not the Web Wallet itself.

I am running Hiro Web Wallet v2.14.0 and am able to successfully

[2021-08-23 22:08] Eshwari007 commented on #160
Tested the url with regtest using test demo app.Test passed

[2021-08-23 22:08] #160 closed

[2021-08-30 09:56] markmhx commented on #150
@SyAsteria might you have time to prepare the PR this week, or should @beguene take it?

[2021-08-31 09:29] SyAsteria commented on #150
I'll add it to my todo. Should be done by EOW.

[2021-09-03 07:44] kyranjamie opened #165 "Document example of how to pass in `fee` property"
Per Dan's comment https://github.com/blockstack/connect/pull/161#issuecomment-912226259

cc/ @fbwoolf @pgray-hiro

[2021-09-03 07:57] markmhx commented on #165
I've submitted a PR for this here: https://github.com/blockstack/docs/pull/1262

[2021-09-03 07:58] #165 closed

[2021-09-07 20:40] #151 closed

[2021-09-08 09:42] Filmaluco commented on #101
@yknl any progress?

[2021-09-08 15:08] yknl commented on #101
We're working on it. Is there a specific flow or use case you are looking for?

[2021-09-08 16:11] Filmaluco commented on #101
@yknl yes. The Stack Circles Android Since intercepts app.blockstack.org to authenticate apps on Android devices. Using the latest version of the @stack/connect library, users are prompted to use the Hiro Extension, and never go through app.blockstack.org.
I need to use a previous version of the library, and but can't look for it since the library has no changelog and was rebranded from the old @b

[2021-09-09 11:55] markmhx commented on #101
@Filmaluco Presumably you want "a new protocol to authenticate on mobile devices." more than "a previous version of connect compatible with the latest stacks libraries", correct?

Since you want mobile Android users to authenticate with Circles, _not_ with Blockstack Connect at app.blockstack.org.

[2021-09-09 12:01] Filmaluco commented on #101
@markmhx With no deadline to a new protocol we need an alternative for our projects, this issue was open on Feb and we still have no timeline.

[2021-09-09 12:05] yknl commented on #101
@Filmaluco I think what you're looking for is a mobile web to mobile authenticator link correct? We're working on multiple protocols that link apps from web, mobile web, native mobile to mobile and desktop wallets. Currently focused on the web to mobile wallet link using wallet connect 2.0. The proposal for a mobile web to native mobile wallet link was through app links. If you're blocked on this

[2021-09-09 12:23] markmhx commented on #101
I agree and I'd love to see more measurable progress towards mobile support in particular.

@yknl @Filmaluco perhaps the two of you could sync up and figure out how to combine efforts towards setting such a timeline?

Given all the other work on the UserX team's plate at Hiro these days, it's not realistic that we'll be able to own this project on our end for the coming months. As such, it's imper

[2021-09-09 12:57] Filmaluco commented on #101
@markmhx at the moment we don't have time and resources to spend defining the protocol and in evangelization. It's not realistic that we'll be able to own this project either.

As of pushing this functionality forward, we wouldn't need to if the app.blockstack.org was not being deprecated or a **equal** alternative was presented.

This is not just a developers problem, mobile users can't authentic

[2021-09-09 13:13] markmhx commented on #101
To be clear, we won't sunset app.blockstack.org until a mobile alternative is available: https://github.com/blockstack/stacks-wallet-web/issues/970

Older versions of Connect do indeed hand off to app.blockstack.org whereas the newest version hands off to the Hiro Wallet extension. I imagine it should be relatively straightforward to submit a PR to Connect that allows the developer to pass a param

[2021-09-09 13:24] Filmaluco commented on #101
@markmhx that's a good idea, but for Mobile/Android developers such as our self's the best we can do is open issues... changing such complex code in a different environment is not something we are comfortable doing.

[2021-09-21 08:27] friedger opened #168 "doStxTransfer does not recognize sponsored flag"
I can't create a sponsored stx transfer transaction using `doStxTransfer` from `connect-react`. I can do a sponsored contract call.

I am not sure whether it is a problem with connect-react or with the stacks-wallet-web.

The UI shows tx fees and I guess that the tx would be broadcasted.

[2021-09-21 12:50] markmhx commented on #168
@agraebe did you happen to update `connect-react` when adding sponsored transaction functionality in addition to `connect`?

[2021-09-21 14:20] agraebe commented on #168
oh, I didn't cover `connect-react`

[2021-09-22 06:16] friedger commented on #168
Apparently, stx transfer txs can't be sponsored according to spec.

Then the options for doStxTransfer should not contain `sponsored`

[2021-09-22 10:59] aviculturist opened #169 "Web wallet does not gracefully handle wrong stxAddress in connect call"
If a user passes the wrong address to stxAddress in a connect call, the web wallet throws a confusing error, along the lines of:

[code]

[2021-09-22 15:16] agraebe commented on #168
This is also something we should call out in our docs @pgray-hiro.

From [SIP005](https://github.com/stacksgov/sips/blob/main/sips/sip-005/sip-005-blocks-and-transactions.md):
[code]

[2021-10-01 10:41] 0xAsteria opened #170 "Make user’s networks available to the app"
During the code injection, we should also make the network endpoints that are setup in the wallet available for the app to get.

Eg, we could retrieve the user's chosen endpoint for the 'mainnet' key through a function and return it as a URI to the app, eg 'https://stacks-node-api.mainnet.stacks.co'.

This is essential for decentralisation so apps prefers don't use their own hosted ones, but users

[2021-10-01 10:47] markmhx commented on #170
Thanks, I think is indeed most relevant to Connect so I've transferred the issue there.

@sub100ms do you have a general ETA for when you may be looking to release Earth? To help us with prioritizing this functionality on our end.

Is the idea here that the user would configure an alternative node manually in the wallet _then_ the app would react by using it, assuming the app has no particular pre

[2021-10-01 10:56] 0xAsteria commented on #170
The former. We want to honour the user's decision and to encourage decentralisation.

We're aiming to have a sort of MVP for Earth out in maybe 6 months, I believe. We're working on an NFT API first, then this will be next I believe.

[2021-10-01 10:59] kyranjamie commented on #170
Is there a precedent for this feature? Metamask doesn't do it afaik.

This would introduce privacy concerns. What right does an app have to know what networks I have added? What if I have a personal development server added with an IP I'd rather keep private?

[2021-10-01 15:14] 0xAsteria commented on #170
@kyranjamie the app would only be able to retrieve networks it knows about (eg, mainnet, testnet, regret). we could add a simple limit so it can only request 5 unique networks per app.

this means I could have a node with the key '9jjj64bs' that I use for private development and the app wouldn't be able to access it because it doesn't know the key and the extension limits the number of networks it

[2021-10-01 15:16] aulneau commented on #170
I think this makes a lot of sense and is something I've brought up before, and if I remember correctly it is actually very common in Ethereum. It's unique in stacks that an app could be on a different network than what the user is in their extension.

[2021-10-01 15:19] kyranjamie commented on #170
Somewhat related: we want to ensure users give explicit permission before an app can change the actively selected network https://github.com/blockstack/stacks-wallet-web/issues/1281

[2021-10-05 19:53] PUN-app opened #171 "Cannot pass FinishedTxData.txId to parent code after calling openContractCall"
Why does openContractCall returns Promise\<void\> instead of returning Promise\<FinishedTxData\>?!?  The onFinish has no context, so can't pull the tx data out with a 'this.blah='.  The promise is called after the onFinish, and that has full context to the object it is called within.  But, cuz it is a void promise, can't use that to get the txId.

[2021-10-05 21:03] PUN-app commented on #171
I found a workaround.  But, I highly recommend you change your promise to return FinishedTxData.

[code]

[2021-10-06 10:47] kyranjamie commented on #171
This would be a very welcome improvement.

@PUN-app would you be open to contributing to connect?

[2021-10-11 14:27] fbwoolf opened #172 "Add better instructions for running connect"
It has been reported that devs had a hard time understanding how to run/test making changes to connect. We should added better instructions for how this works best using yalc.

[2021-10-11 15:52] markmhx opened #173 "Fix loading of illustration in connection modal"
![image](https://user-images.githubusercontent.com/28991/136819733-b0bf081c-3cfe-45aa-92a3-c0c7189733e6.png)

[2021-10-13 12:48] markmhx commented on #101
Hey all, I was talking with @dantrevino about this the other day and it seems we're due for a synchronous ecosystem meeting to discuss the state of authenticator choice (and mobile auth in particular) as we enter Q4 2021.

We haven't had the capacity at Hiro to push this as long as much I would have liked in 2021 so far. And while I'm aware that @yknl at Xverse is cooking up a near-term solution f

[2021-10-15 07:02] friedger commented on #101
Maybe authenticator choice can be a solution for https://github.com/blockstack/stacks-wallet-web/issues/1412 : One wallet per derivation path.

[2021-10-19 20:56] aviculturist commented on #170
IMO, the whole idea of a wallet is that it keeps your keys safe and handles transactions with your chosen node. The notion that an app can silently bypass a user's node choice breaks with conventions and user expectations.

For example, an app that uses Metamask, as far as I know, cannot choose a different network than the user's currently selected one.

What is the argument for apps being able to

[2021-10-20 13:57] hugocaillard opened #175 "Package bundles are not compatible with Vite (rollup)"
**Issue**
I tried to set up a simple project with [Vite ](https://vitejs.dev/) using the `@stacks` packages (mainly transactions and connect). I ran into multiple issues with the way the packages are bundled and how Node.js libraries are polyfilled. The main issues were `global` `buffer` and `stream` not being defined.

**How to reproduce**
After discussing this issues on the Discord, I published

[2021-11-01 19:33] fbwoolf opened #176 "Remove optional app tx fee"
We are currently implementing the new estimation fees into the web wallet, with this effort we are removing the ability for apps to set a custom fee for transactions. We need to remove it from the options here in conjunction with the work on:
https://github.com/hirosystems/stacks-wallet-web/pull/1857

[2021-11-24 06:32] leeroyanesu opened #178 "Internal errors within transactions, common, profiles packages"
Am receiving these errors just after installation.

TypeError: can't convert BigInt to number
./node_modules/@stacks/transactions/dist/esm/clarity/types/intCV.js
C:/src/clarity/types/intCV.ts:4

./node_modules/@stacks/transactions/dist/esm/clarity/index.js
C:/Users/src/clarity/index.ts:1

./node_modules/@stacks/transactions/dist/esm/index.js
C:/Users/..../src/index.ts:1

./node_modules/@stacks/pro

[2021-12-02 23:27] #175 closed

[2021-12-14 02:29] jurjendevries opened #180 "404 in readme"
In the readme there is a link to authentication https://docs.blockstack.org/build-apps/guides/authentication  , but gives a 404.

[2021-12-14 02:39] jurjendevries commented on #180
It seems multiple links were broken. I updated the file by https://github.com/hirosystems/connect/pull/181
Because I am new to the project and some links also didn't worked at the new domain I am not sure if they are correct. I found some with the search function, so please do an extra check on this. Thank you.

[2021-12-25 13:51] joerter opened #182 "Webpack 5 doesn't include Node.js polyfills"
I was using @stacks/connect to build a simple React app for learning the stacks ecosystem. When hooking up authentication with the Hiro wallet, I ran into this error:

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default

Basically, webpack 5 doesn't include polyfills for stream, buffer, and crypto. To fix, I had to eject from creat react app and add these pol

[2021-12-25 15:04] aulneau commented on #182
hi there! I maintain an alternative package called micro-stacks which works a bit better for newer bundlers abd tooling. Feel free to check out the react guide https://docs.micro-stacks.dev/modules/integrations/react

I'm also on the stacks discord if you have any questions

[2021-12-26 01:38] joerter commented on #182
Awesome! Thanks I will check it out

[2021-12-26 01:39] #182 closed

[2022-01-23 14:21] jjenzz opened #185 "Missing event for wallet installation cancellation"
I'm using `react-connect` but seems applicable for `connect` too.

When calling `doOpenAuth`, if it opens the Hiro Wallet Installation prompt and the user closes the dialog, there doesn't seem to be a way for the UI to reflect the fact that auth was cancelled.

Video of issue I'm having: https://twitter.com/jjenzz/status/1485244780145688576?s=20

Any help here would be appreciated, I'm probably ju

[2022-01-23 14:24] jjenzz opened #186 "Missing event for `doOpenAuth` failure"
I'm using `react-connect` but seems applicable to `connect` also.

When calling `doOpenAuth` in an incognito window, the hiro wallet window doesn't open but my app gets stuck in "loading" state. It would be great if there was a way to detect a failure so I can communicate that in the UI.

Video here: https://twitter.com/jjenzz/status/1485244796470009858?s=20

[2022-01-23 14:53] fbwoolf commented on #185
We expose an `onCancel` callback for you to use in `AuthOptions`: https://github.com/hirosystems/connect/blob/af54624d6389c686f9b95900290cde7d941e9c77/packages/connect/src/types/auth.ts#L48

Is this what you are looking for?

[2022-01-23 15:02] fbwoolf commented on #186
I agree, this would be helpful. Are you getting any feedback in the console as to why it is failing?

[2022-01-23 15:03] kyranjamie commented on #185
Looks like this is only fired when wallet is installed, and the flow cancelled, rather than in cases of the connect popup.

https://github.com/hirosystems/connect/blob/3ec7fee3b14aec048e4534bc2fbe804b7933454d/packages/connect-ui/src/components/modal/modal.tsx#L29-L31

We should fire the `onCancel` event here, too.

[2022-01-23 15:20] fbwoolf commented on #185
Got it, that makes sense. The video shows before the wallet is installed. 👍

[2022-01-24 12:40] jjenzz commented on #186
Looks like something to do with the `connect-ui` package:

![image](https://user-images.githubusercontent.com/175330/150784474-b996cb57-e8c6-4a06-8c50-f587a0804541.png)

I'm using https://remix.run which uses esbuild if that helps at all.

[2022-01-25 01:48] He1DAr commented on #186
This issue is caused by `esbuild` [not supporting dynamic imports via plugins](https://github.com/evanw/esbuild/issues/700). When `Connect` fails to find a wallet (e.g. in incognito if wallet plugin is not enabled in incognito mode), it attempts to open the modal:
![image](https://user-images.githubusercontent.com/97111756/150893624-e13594db-04c7-48b8-8d1d-7d0d90563026.png)
and fails due to `esbui

[2022-01-25 11:08] jjenzz commented on #186
Thanks for looking into that, I assumed that would be the case though as I have had other issues with esbuild up to this point.

The ticket is about providing an `onFailure` event of some kind though because there is no way for my app to know something like this happened currently (e.g. connection drops and dynamic import fails).

[2022-01-25 14:31] He1DAr commented on #186
@jjenzz have you tried wrapping your component with [error boundary](https://reactjs.org/docs/error-boundaries.html)?

[2022-01-25 18:10] jjenzz commented on #186
I tried wrapping `doOpenAuth()` in a `try {} catch(e) {}` before which didn't catch it and have just tried an `ErrorBoundary` without success also.

[2022-01-25 18:16] jjenzz commented on #185
Thanks for doing that @He1DAr. Is this available in an alpha release somewhere?

[2022-01-27 00:37] fbwoolf opened #188 "Update download modal illustration"
Originally posted in the wallet repo in this issue: https://github.com/hirosystems/stacks-wallet-web/issues/1807

This illustration needs to be updated:
![image](https://user-images.githubusercontent.com/6493321/151270040-6c5fc880-5f38-46c2-ae82-b5ee05a63b83.png)

https://www.figma.com/file/VupGh90FJtT0dcBj2Sh7bb/%F0%9F%93%8FSpec?node-id=80%3A2592

[2022-01-31 08:44] playerx opened #189 "Webpack 5 support"
Hi, do you plan to support webpack5? Right now there is a problem related to the nodejs polypill as described in this issue:
https://github.com/hirosystems/connect/issues/182

`@micro-stacks` solves the problem but it will be better if official sdk will support webpack5 as well.

[2022-02-03 23:48] davidfant opened #190 "`openSTXTransfer` return type changed"
**Describe the bug**
`openSTXTransfer` from `@stacks/connect` used to return the TS type `FinishedTxData` looking something like:
[code]

That seems to have changed recently. Now `txId` isn't a string but rather an object with a shape like:
[code]

**What version of Blockstack.js are you using?**
[code]

**Is the bug present in the Blockstack CLI, Gaia hub, Connect or Blockstack Browser?**
Connect

[2022-02-18 22:26] hstove commented on #190
This is due to a bug in the latest Hiro wallet. It's been fixed in https://github.com/hirosystems/stacks-wallet-web/commit/9cfa3fd52ddc28a69a9bf9bac8c7cb8662bba81e, but version `3.2.0` has not been published yet. This is my understanding - could be wrong. @kyranjamie @fbwoolf

[2022-02-19 14:26] fbwoolf commented on #190
This should be fixed in the wallet and already released. Fixed in this PR w/ sponsored tx: https://github.com/hirosystems/stacks-wallet-web/pull/2159

[2022-02-24 14:47] markmhx commented on #185
@jjenzz were you able to use the new version here successfully?

[2022-02-24 16:58] fbwoolf opened #192 "Update browser not supported illustration"
Originally posted in this issue: https://github.com/hirosystems/stacks-wallet-web/issues/1809

3) Browser not supported: https://www.figma.com/file/GShZH28L05eyKjRZxPb8SK/%E2%9C%8F%EF%B8%8FIllustration-System?node-id=1%3A9751
<img width="1288" alt="browser" src="https://user-images.githubusercontent.com/78865845/150506713-36c1b6fc-82f8-4599-9638-87a97bd925a2.png">

[2022-02-25 13:29] jjenzz commented on #185
@markmhx not yet, i didn't think it was released yet?

[2022-02-27 16:39] markmhx commented on #185
It appears that this change was merged into main in January: https://github.com/hirosystems/connect/commits/main

Though it doesn't appear we bumped the version up. @andresgalante should we cut a formal release here?

[2022-02-28 03:10] andresgalante commented on #185
Yes, lets discuss with the team how to release connect

[2022-02-28 14:47] fbwoolf commented on #185
There are some minor illustration update issues I could do here and then release? They are changes to onboarding but in the Connect modal.

[2022-02-28 22:50] andresgalante commented on #185
@fbwoolf absolutely, if we can bundle other small improvements it'd be great. the main issue here is figuring out how to release Connect :)

[2022-03-01 18:54] fbwoolf commented on #185
If I remember correctly, ...if the package version is incremented correctly before merging the change then a chore release PR will get generated to release the change. Example: https://github.com/hirosystems/connect/pull/166

[2022-03-03 19:21] fbwoolf commented on #185
My point being here, we can just address another issue and bump the version before that merge to release this, right?

[2022-03-03 19:42] fbwoolf commented on #190
Going to close this issue bc it should be fixed in the Hiro Wallet.

[2022-03-03 19:42] #190 closed

[2022-03-05 00:28] andresgalante commented on #185
@kyranjamie can you answer Fara's question about the release of Connect?

[2022-03-07 18:39] #188 closed

[2022-03-07 18:39] #192 closed

[2022-03-28 10:15] beguene opened #202 "Add arbitrary message signing support"
In preparation for https://github.com/hirosystems/stacks-wallet-web/issues/1051 we need to make some changes in connect to expose `signatureRequest` and `verifySignatureRequest` methods (those method names are not fixed yet)

[2022-04-03 10:14] nokhodian commented on #173
We are trying to modify the photo on this modal, but we didn't find any documentation is there anyway of doing this?

[2022-04-03 12:59] fbwoolf commented on #173
This is an illustration specific to the Hiro Wallet. No, it can't be changed unless you fork this repo. It is not something we support/document.

[2022-04-04 11:15] markmhx commented on #173
@nokhodian Do you want to change the illustration itself or the app icon to the bottom-right corner of the illustration?

## Illustration

<img width="230" alt="Screen Shot 2022-04-04 at 13 14 28" src="https://user-images.githubusercontent.com/28991/161532531-4a4312da-40e5-4c44-bef9-dabfb4293998.png">

## App icon

<img width="144" alt="image" src="https://user-images.githubusercontent.com/28991/1

[2022-04-04 11:16] markmhx commented on #173
@fbwoolf what remains to standardize these days with the intro modal here? Should we keep this issue open and modify it to capture the remaining work more specifically, or close out?

[2022-04-04 11:49] markmhx commented on #189
We don't have any plans to support it at the moment but can consider prioritization. Mind describing your use case a bit here?

[2022-04-04 12:18] markmhx commented on #185
nudge @kyranjamie 👆

[2022-04-04 12:18] markmhx commented on #185
I'm reopening so we can cut a proper release with this change.

[2022-04-04 12:19] kyranjamie commented on #185
Absolutely, yes.

[2022-04-04 12:20] markmhx commented on #186
I'll review this issue with @sabbyanandan, @saralab and @janniks soon. 🙏

[2022-04-06 10:12] nokhodian commented on #173
The problem was that no image was showing up and we couldn't modify the path, the only solution was statically putting the image where it was hardcoded, we ended up implementing the whole modal at our side though :)

[2022-04-06 11:07] markmhx commented on #173
Sorry I'm still not clear on which image wasn't showing up exactly. Do you mean the app icon or illustration or both?

Did you fork the library or create a new custom modal out of curiosity?

[2022-04-06 11:35] nokhodian commented on #173
![image](https://user-images.githubusercontent.com/5457777/161965664-2c5d04bf-7ab9-436f-93fc-d9d3039989f6.png)
that's what the modal looks like, we are making a new custom modal, still, it's not done though

[2022-04-06 11:54] markmhx commented on #173
Thanks for the screenshot for clarification 🙏  If you right click on the broken image, can you copy and paste the URL that's attempted for loading here?

[2022-04-06 13:47] #185 closed

[2022-04-06 13:50] fbwoolf commented on #173
@markmhx this is outdated. The illustration in Connect has been updated and no longer includes the app icon.

[2022-04-07 08:57] nokhodian commented on #173
sure,,,, /assets/download-hiro-wallet.png ... that's the image and if you statically put an image there it will show up, however, we didn't want to compromise on the structure of our project.

[2022-04-07 12:43] markmhx commented on #173
Thanks! By "we didn't want to compromise on the structure of our project", what do you mean exactly?

[2022-04-07 14:24] nokhodian commented on #173
we didn't want to add a folder and file exactly like its defined, we have another folder for static resources

[2022-04-10 16:32] fbwoolf commented on #173
I feel like this was reported as a separate bug regarding the app icon, but now there is a different bug with the png being used for the new illustration. Just wanting to make note of that bc when this issue was created in October ` /assets/download-hiro-wallet.png` did not exist. I can def look into fixing why the new png isn't loading.

[2022-04-10 16:36] fbwoolf commented on #173
Nvm, I read back through the thread here. I see the thread is a bit confusing ...but this is def a bug with the new png illustration, so I'll fix it.

[2022-04-11 13:06] fbwoolf commented on #173
@markmhx is this something I should take on today and get fixed?

[2022-04-12 00:54] fbwoolf commented on #173
There seem to be a few open issues in stenciljs regarding the `getAssetPath` and `setAssetPath` not working. It doesn't seem like a great library to use considering these issues have been open for quite some time. I've tried suggested workarounds today, but no luck. We would need to instruct the app to copy the assets in their webpack config (I think) if we want to use pngs. @kyranjamie any though

[2022-04-12 08:49] kyranjamie commented on #173
I'm not super familiar with this problem, but indeed these issues look very stale.

I would try either:
- Adding a Webpack loader the same as we use in the web wallet
- Inlining the png image as a data uri directly

[2022-04-12 18:15] #173 closed

[2022-04-18 15:02] markmhx opened #209 "Add support to request accounts"
We'll need a new interface for an app to request accounts from the wallet per https://github.com/hirosystems/stacks-wallet-web/issues/2371.

This functionality is needed in turn to unblock the development of Ledger support for the wallet.

[2022-04-24 17:27] kyranjamie opened #213 "`@stacks/connect-react` packages doesn't support react 18"
Reported here https://discord.com/channels/621759717756370964/623217767356694547/967796202278092830

Need to update `package.json` peerDependencies to state `16>`

Whether or not React 18 works 🤷🏼‍♂️  I'd assume so, there aren't many breaking changes. But the peerdep should err on side of "yes".

[2022-04-28 10:54] markmhx commented on #202
@beguene do you want to take this or should we ask @janniks?

[2022-04-28 11:10] beguene commented on #202
This is already done here https://github.com/hirosystems/connect/pull/205
Closing this then.

[2022-04-28 11:20] markmhx commented on #202
Great, shouldn't we link this issue to that PR, reopen and put on the board though?

[2022-04-30 23:38] SaadAye commented on #213
man still no update on this ???

[2022-05-10 06:19] #202 closed

[2022-05-16 16:58] landitus opened #219 "Improve Connect dialog for onboarding flow"
Based on the work to be done for https://github.com/hirosystems/stacks-wallet-web/issues/2251. As we tested the onboarding flows, we found some participants (specially the least experienced ones) to be confused around the connect dialog. Most questions came around why is this step necesary as it didn't seem obvious at all. So we re-tested the flow with some modifications:

1. Revisited the copy
2.

[2022-05-24 03:21] MarvinJanssen opened #225 "signStructuredData not in line with SIP018 specification"
Looking at `signStructuredMessage`, I noticed that although it signs Clarity Values, it is missing parts of the specification thus resulting in different signatures.

https://github.com/hirosystems/connect/blob/1f3e94aa09a356cf8d8a0b555caeabbed120d741/packages/connect/src/signature/structuredData.ts#L24-L43

As per the current draft:
https://github.com/stacksgov/sips/blob/48a8493f19702a14258db5730

[2022-05-26 15:00] beguene commented on #225
I agree @aulneau, the main changes are to be made in the web wallet, but we will also have to update connect to accommodate the changes.

@markmhx I will create a new one maybe for the web wallet and link this one to it.

[2022-05-27 06:10] beguene commented on #225
@janniks Yes I think we should stay consistent. We can do that as part of this task. cc: @markmhx @andresgalante

[2022-05-29 21:12] He1DAr opened #231 "contract deployment pending tx not displaying"

[2022-05-30 02:39] MarvinJanssen commented on #225
FYI: https://github.com/stacksgov/sips/pull/57#issuecomment-1140622966

The structured data prefix has been changed to make sure that SIP018 messages can absolutely never be valid transactions. The OP has been edited.

[2022-05-30 12:24] radicleart commented on #231
E.g. seeing on this tx.. https://explorer.stacks.co/txid/0x54129fffab3049ad11e16eaf63dd48fa5e06cd878c091171121dd95711badc82?chain=testnet
<img width="1381" alt="Screenshot 2022-05-30 at 13 22 43" src="https://user-images.githubusercontent.com/4384929/170991583-1bfa40d0-ebfe-4341-910b-f5ab4fca6631.png">

[2022-05-30 16:32] janniks commented on #231
Is this a connect or explorer bug?

[2022-05-30 17:39] radicleart commented on #231
Explorer I think.

[2022-06-03 01:03] dartman10 commented on #172
+1

[2022-06-07 09:52] kyranjamie opened #241 "Support message signing with Ledger wallets"
Signing methods from connect do not work when a wallet has been authenticated with a Ledger

[2022-06-10 12:08] dr-bizz opened #243 "Arbitrary Message Signing with wrong account"
Hey, I'm setting up Arbitrary Message Signing with Hiro using the openSignatureRequestPopup function.

The popup shows as normal and signs the message. However, the wallet that popups show as signing the message isn't the wallet I authenticated with the app. It shows the wallet to which the browser is connected, not what the application is connected to.

I saw that you could pass in "stxAddress",

[2022-06-10 17:37] wisdomabioye opened #244 "Wallet `showConnect` not returning result"
Hi guys, showConnect function from @stacks/connect is loading forever. It worked a few days ago but not anymore. Is anyone experiencing this issue? The spinner keeps spinning without returning any result. Someone should help me out.

See the screenshot here

[https://media.discordapp.net/attachments/745197302255321108/984584139435016232/unknown.png](url)

[2022-06-12 16:27] Nsandomeno commented on #244
Any code or console errors to share? I may be having a similar issue, which I believe is related to the failure to define `Buffer` for the browser - as done in the Hiro Angular tutorial [here](https://docs.hiro.so/example-apps/angular#step-3-declare-missing-globals).

[2022-06-12 18:02] wisdomabioye commented on #244
@Nsandomeno, I got no console error.
I had the same challenge with `Buffer` not defined but I used `craco` to solve the problem by providing webpack config in `craco.config.js` file. See below.
I am using `react` though.

[code]

[2022-06-12 23:18] wisdomabioye commented on #244
This is the error from the wallet extension console
![image](https://user-images.githubusercontent.com/18709032/173257629-151f82ef-246b-4ddc-abea-e7a13d407236.png)

[2022-06-15 23:02] friedger opened #246 "Add support to edit the profile"
Users want to update their public profile while they view it in apps. Connect should provide a command that requests the wallet to show an editor for the users public profile

[2022-06-21 08:56] #225 closed

[2022-06-25 10:30] unclemantis opened #250 "openSTXTransfer - unable to set nonce in options"
I am trying to set up a token transfer with a suggested nonce using openSTXTransfer.  I am able to set amount, recipient and memo but nothing else such as fee and nonce.

Open of my project requires nonce to be set by my node.js app.

Is there a different solution using the atacksjs library?

[2022-06-25 10:33] janniks commented on #250
Does the tx need to be sent via connect (i.e. through the users' wallet) in the browser or will it be sent from a node.js app (server-side, script, or CLI) with the private-key/account known during runtime?

[2022-06-25 13:02] unclemantis commented on #250
I am using a node.js app to manage a signedin account. I am currently using API calls using `userSession.loadUserData().profile.stxAddress.testnet`

What I am trying to do is display a button for the signed in wallet user to click to submit a TX with a nonce set by my node.js app. `openSTXTransfer` was the first solution that I stumbled across. Is a wallet popup required to confirm payload and bro

[2022-06-25 13:23] janniks commented on #250
I don't think the wallet currently allows custom nonces and there is no other way of constructing the tx first and letting the wallet sign for security reasons.

Without using browser-extension wallet, if you have access to the privateKey/seed you can use this example to set a custom nonce using@stacks/transactions: https://github.com/hirosystems/stacks.js/tree/master/packages/transactions#stx-tok

[2022-06-25 13:42] unclemantis commented on #250
I did stumble across that and I tried the following options:

`    const txOptions = {
        recipient: 'ST2EB9WEQNR9P0K28D2DC352TM75YG3K0GT7V13CV',
        amount: "1000000",
        senderKey: privateKey,
        network: 'testnet', // for mainnet, use 'mainnet'
        memo: 'test stx token transfer',
        nonce: "33", // set a nonce manually if you don't want builder to fetch from a Stack

[2022-06-25 13:47] janniks commented on #250
Hmm, not sure why this hits `TooMuchChaining`, I'll try to find out what that means.

Can you try setting amount, fee, and nonce as Integer rather than String? (Removing the ""s)

[2022-06-25 13:49] unclemantis commented on #250
Thank you for looking into this. I just tried number instead of string and same response.

[2022-06-25 22:05] unclemantis commented on #250
the reason_data says nonce is too far difference from suggest nonce or something like that. problem is the nonce is not correct and the address it returns is NOT the address I am sending from.

[2022-06-26 18:01] unclemantis commented on #250
okay.  I am figuring this out.  sorry.

[2022-06-26 18:01] #250 closed

[2022-07-05 13:56] kyranjamie opened #251 "`@stacks/connect-react` package.json `module` points to non-existent file"
Noticed using a Vite app that it doesn't work, because it points to wrong file location in `module` prop

[2022-07-15 06:07] unclemantis commented on #176
Negative 1.

I reject this feature as not an enhancement but as a restriction that further cripples dApp development and not allowing ease of functionality for users new to the stacks ecosystem. If a dApp developer is aware of a functioning fee rate for their contract call then why not allow the developer to set the fee instead of gambling on the fee estimation of stacks web wallet? During times o

[2022-07-15 06:15] unclemantis opened #259 "Feat: Req: Add openIncreaseFee / doIncreaseFee functions"
Instead of cross-posting, please reference the below links to issues I have created and commented on.

[connect Issues Comment](https://github.com/hirosystems/connect/issues/176#issuecomment-1185207704
)

[stacks-web-wallet Issue](https://github.com/hirosystems/stacks-wallet-web/issues/2564#issue-1305598280)

Thank you for your continued hard work at building a better blockchain.

[2022-07-15 09:29] kyranjamie commented on #176
Thanks for sharing your thoughts @unclemantis

The use case you describe is legitimate and definitely to be considered. One of the motivations for killing this feature, though, is that it does introduce a scope for abuse, or unintended error.

What happens when an a dev sets the fee to 1,000 STX? The wallet needs to handle some "too high" case. Perhaps, instead, dapps could _suggest_ a fee, requir

[2022-07-15 10:06] unclemantis commented on #176
In the end I want increased ease of use as well as keep user control and safety intact.

[2022-07-15 14:27] markmhx commented on #176
Thanks @unclemantis for these detailed requests.

I've created the following issue in the wallet repo to track it there for the custom fee setting request in particular: https://github.com/hirosystems/stacks-wallet-web/issues/2566

If the wallet is suggesting unhelpfully low fees to users, that's a root problem that we ought to solve in the wallet itself. Though it's great to hear you're working o

[2022-07-16 10:33] unclemantis commented on #176
I am way over time vested and budget with this project due to the lack of support in existing Hiro products and middleware. It is not the fault of Hiro by any means. You guys have a lot going on with a lot of micro-issues to support multiple developers. I am just very good at creating solutions to problems that exist that others just push aside as inconveniences and just work around. I tend to go

[2022-07-21 18:19] 2snEM6 opened #261 "Propagate transaction broadcast errors to openContractCall"
Right now there is now way to know if a transaction has been rejected by the API.
It would be useful if calls such as `openContractCall` would include an `onFailure` callback or similar that gets fired whenever there is an issue.

[2022-07-21 20:37] whoabuddy commented on #261
Relaying a comment from @aulneau in Discord:

I think this makes a lot of sense too, it'd be nice to be able to target each state with a specific strategy on the UI/UX side.

[2022-07-31 05:19] bolasblack opened #263 "Add ability for app to listen network changing and get network info"
We have our own testnet instance and we hope our app can alert users that they are using an unexpected network in their stacks wallet

So we hope @stacks/connect can provide some API to make the app able to know which network users are using, just like `connect` event and `chainChanged` event of MetaMask

Maybe we can do it like this:

[code]

Related issues:

* https://github.com/hirosystems/stac

[2022-08-11 08:49] yknl opened #266 "Show other wallet options"
Currently Connect UI only points users to download Hiro wallet if no wallet installation is detected.

The UI should be changed to let users know of other wallet options like [Xverse](https://www.xverse.app) for mobile. Especially since Hiro wallet is not on mobile and mobile makes up more than half of all web traffic. This causes users to drop off when they visit apps.

<img width="546" alt="imag

[2022-08-11 09:12] markmhx commented on #266
I agree about these needs, though I'd suggest keeping the thread going on https://github.com/hirosystems/connect/issues/101 about them since we've already had some early explorations there that could be helpful for pushing this forward.

[2022-08-11 16:23] kyranjamie commented on #266
Maybe we should co-author a SIP with a proposal for provider mgmt? @yknl

[2022-08-15 15:30] yknl commented on #266
That thread has been open for over a year. I think we should move ahead with at least a temporary solution instead of waiting for the perfect one. We'll open a pull request.

@kyranjamie what do you have in mind for the proposal?

[2022-08-16 08:46] kyranjamie commented on #266
@yknl Perhaps this belongs in a more general SIP, but something that describes how an extension provider object is injected into a page, in a way which doesn't create naming conflicts/overwriting the same `window.StacksProvider` object.

(this happens rn with Metamask and Coinbase wallet)

[2022-08-16 09:42] markmhx commented on #266
@yknl I presume this grant request is related? https://github.com/stacksgov/Stacks-Grant-Launchpad/issues/646

[2022-08-24 08:03] yknl commented on #266
Let's start one.

No, but it is related. How does stacks.js plan to be inter-operable with WalletConnect? Right now devs will have to choose one or the other.

[2022-08-24 11:10] markmhx commented on #101
https://github.com/hirosystems/connect/pull/269 has been submitted for displaying hardcoded options for both Hiro Wallet and Xverse

[2022-08-31 13:49] #251 closed

[2022-09-28 13:22] janniks commented on #266
https://github.com/hirosystems/connect/pull/272

[2022-10-12 14:46] janniks commented on #243
@markmhx have you looked into this issue? (Might be outdated at this point)

[2022-10-13 08:07] markmhx commented on #243
It appears we fixed this issue with https://github.com/hirosystems/stacks-wallet-web/issues/2463, so I presume we can close it here on the Connect side.

[2022-10-13 08:07] #243 closed

[2022-11-07 21:03] yknl opened #283 "Support BTC Transfer Requests"
Add a `openBTCTransfer` function call to allow wallets to support BTC transaction requests from apps.

The arguments for this function would be similar to `openSTXTransfer`:

|             | Description                           | Type                              | Example                                       |
| :---------- | :------------------------------------ | :----------------------------

[2022-11-07 21:06] aulneau commented on #283
small nit: this would likely actually be more in-line by existing in the wallet repo, as connect is just an interface for whatever the wallet exposes. Additionally, it would be good to start working on a SIP for the provider that injects this kind of event into webpages. Ideally xverse and the hiro wallet would work on a standard together

[2022-11-07 21:42] yknl commented on #283
You can essentially argue the same from the wallet perspective. It's probably best to start working from both ends. Regardless, I think this particular issue is needed here to track the implementation on Stacks connect's side.

I'm leaning towards being able to get this through quicker. In which case we skip the SIP process. Especially since the original stacks provider implementation did not have

[2022-11-07 21:46] aulneau commented on #283
Sure! Totally agree, additionally, if this is for the btc nft working group, we should make an issue in the micro-stacks repo as the MVP app is not currently using stacks connect ☺️

[2022-11-07 21:54] yknl commented on #283
Cool, we can create an issue there as well.

[2022-11-07 21:55] janniks commented on #283
Yes, we should definitely check-in with the Hiro Wallet team on this.

A beta tag works for now. But I'd also push for starting a SIP (even if it's a draft during the release of these features), simply to avoid any breaking changes later that may impact application developers.

[2022-11-08 12:55] markmhx commented on #283
I've created related issues for SIPs and the Hiro Wallet here:

- SIP: https://github.com/stacksgov/sips/issues/105
- Hiro Wallet enhancement: https://github.com/hirosystems/stacks-wallet-web/issues/2824

I also suspect we can design this in line with `openSTXTransfer` and we can pursue the SIP in parallel with initial implementations.

[2022-11-10 11:58] friedger commented on #283
I suggest to add an optional `memo` field

[2022-11-10 14:01] whoabuddy commented on #283
@friedger how would that be done with BTC? My understanding is you'd need a special script to pass data, e.g. OP_RETURN (which invalidates the tx) or OP_DROP, etc.

[2022-11-10 14:11] janniks commented on #283
Yeah, there’s no dedicated `memo` field in the base tx (even though some payment protocol BIPs etc. aim to add something similar). I’d recommend a plain BTC tx for now, anything more would have to be sketched out to fit the needs of the use-case…

[2022-11-10 18:35] friedger commented on #283
We have btc wire formats for different stack features. Like stx transfer with memo:
https://github.com/stacks-network/stacks-blockchain/blob/26bfd5fcdc1f25106288f18ced05290b569f6abb/src/chainstate/burn/operations/transfer_stx.rs

Can we add them here as well?

Or should we add them in a new issue?
`openBtcStxTransfer`, `openBtcStackStx`, `openBtcDelegateStx`,...

[2022-11-10 18:54] janniks commented on #283
That should work, I’ll look into it further.

[2022-11-10 18:55] janniks opened #286 "Support Stacks Txs over BTC"
Related to #283

https://github.com/stacks-network/stacks-blockchain/blob/26bfd5fcdc1f25106288f18ced05290b569f6abb/src/chainstate/burn/operations/transfer_stx.rs

openBtcStxTransfer, openBtcStackStx, openBtcDelegateStx,...

[2022-11-10 19:59] friedger commented on #286
To me, it makes more sense to have 1 interface for all these tx, not 3+

I am looking for something more like `openContractCall`. Maybe `openBtcStacksOperation` with a parameter for the transaction/operation the app wants to perform.

[2022-11-22 22:02] whoabuddy commented on #283
I think this got off track a little bit - the idea here is to provide a simple method that will initiate a Bitcoin transaction with the connected wallet.

That way a front-end could pass the destination and amount to this function, and a prompt would be opened similar to how we create STX transfers now for the user to sign and broadcast.

Our initial use case would be allowing someone to mint a Bi

[2022-11-22 22:11] whoabuddy commented on #286
I think it would make sense to group the items [defined in SIP-007 together](https://github.com/stacksgov/sips/blob/main/sips/sip-007/sip-007-stacking-consensus.md#stx-operations-on-bitcoin) as @friedger described, but see this as separate from a wallet wanting to initiate a simple BTC transfer.

They're also a bit more complicated, a full walkthrough of the process can be seen in the [second half